source/ServicePoxry/Service References/AWServiceReference/EmployeeBoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeBoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20333/EmployeeBoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20333/EmployeeBoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20333/EmployeeBoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntities" />
      <xsd:import schemaLocation="http://localhost:20333/EmployeeBoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IronFramework.Utility.UI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeBoService_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_CreateEmployee2_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee2" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_CreateEmployee2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee2Response" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_DelEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DelEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_DelEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_FindEmployeeByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:FindEmployeeByTitle" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_FindEmployeeByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindEmployeeByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_GetPagedListContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedListContact" />
  </wsdl:message>
  <wsdl:message name="IEmployeeBoService_GetPagedListContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedListContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeBoService">
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeBoService/CreateEmployee" message="tns:IEmployeeBoService_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeBoService/CreateEmployeeResponse" message="tns:IEmployeeBoService_CreateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee2">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeBoService/CreateEmployee2" message="tns:IEmployeeBoService_CreateEmployee2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeBoService/CreateEmployee2Response" message="tns:IEmployeeBoService_CreateEmployee2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeBoService/DelEmployee" message="tns:IEmployeeBoService_DelEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeBoService/DelEmployeeResponse" message="tns:IEmployeeBoService_DelEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindEmployeeByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeBoService/FindEmployeeByTitle" message="tns:IEmployeeBoService_FindEmployeeByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeBoService/FindEmployeeByTitleResponse" message="tns:IEmployeeBoService_FindEmployeeByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeBoService/GetEmployee" message="tns:IEmployeeBoService_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeBoService/GetEmployeeResponse" message="tns:IEmployeeBoService_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeBoService/UpdateEmployee" message="tns:IEmployeeBoService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeBoService/UpdateEmployeeResponse" message="tns:IEmployeeBoService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPagedListContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeBoService/GetPagedListContact" message="tns:IEmployeeBoService_GetPagedListContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeBoService/GetPagedListContactResponse" message="tns:IEmployeeBoService_GetPagedListContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeBoService" type="tns:IEmployeeBoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeBoService/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee2">
      <soap:operation soapAction="http://tempuri.org/IEmployeeBoService/CreateEmployee2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeBoService/DelEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEmployeeByTitle">
      <soap:operation soapAction="http://tempuri.org/IEmployeeBoService/FindEmployeeByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeBoService/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeBoService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagedListContact">
      <soap:operation soapAction="http://tempuri.org/IEmployeeBoService/GetPagedListContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeBoService">
    <wsdl:port name="BasicHttpBinding_IEmployeeBoService" binding="tns:BasicHttpBinding_IEmployeeBoService">
      <soap:address location="http://localhost:20333/EmployeeBoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>