source/ServicePoxry/Service References/AWServiceReference/EmployeeBoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IronFramework.Utility.UI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IronFramework.Utility.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20333/EmployeeBoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntiies" />
  <xs:complexType name="PagedListOfEmployeeuTvS1Dbc">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IronFramework.Utility.UI" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Employee" Namespace="http://schemas.datacontract.org/2004/07/BusinessEntiies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntiies" minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="q1:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListOfEmployeeuTvS1Dbc" nillable="true" type="tns:PagedListOfEmployeeuTvS1Dbc" />
  <xs:complexType name="PagedListOfContactuTvS1Dbc">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IronFramework.Utility.UI" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Contact" Namespace="http://schemas.datacontract.org/2004/07/BusinessEntiies" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntiies" minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="q2:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListOfContactuTvS1Dbc" nillable="true" type="tns:PagedListOfContactuTvS1Dbc" />
</xs:schema>